.bannerContainer {
    background-position: right 0 bottom 0;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.text-content {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}